
<div class="flex justify-center items-start min-h-screen pt-[12vh]">
  <div class="w-full lg:w-3/6 flex shadow-2xl lg:rounded-lg overflow-hidden bg-base-100">
    <figure class="hidden lg:block lg:w-1/2 bg-base-200">
      <img
        ngSrc="assets/images/forest-9642627_1280.jpg"
        alt="Login"
        class="w-full h-full object-cover"
        width="100"
        height="100"
      />
    </figure>

    <div class="w-full lg:w-1/2 flex flex-col p-6 lg:p-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="flex flex-col flex-grow">
        <div class="w-full max-w-md mx-auto">
          <h2 class="text-3xl font-bold text-center">Login</h2>
        </div>

        <div class="w-full max-w-md mx-auto flex-grow flex flex-col justify-center">
          <div class="space-y-4 p-6 rounded-lg">
            <div>
              <label class="label">
                <span class="label-text font-semibold">Username</span>
              </label>
              <input
                type="text"
                class="input input-bordered w-full"
                formControlName="username"
                [ngClass]="{ 'input-error': usernameError }"
                placeholder="Username"
              />
              @if (usernameError) {
                <p class="label text-error text-sm mt-1">Must be 4 to 15 characters</p>
              }
            </div>

            <div>
              <label class="label">
                <span class="label-text font-semibold">Password</span>
              </label>
              <input
                type="password"
                class="input input-bordered w-full"
                formControlName="password"
                [ngClass]="{ 'input-error': passwordError }"
                placeholder="Password"
              />
              @if (passwordError) {
                <ul class="text-error text-sm mt-1 space-y-1">
                  <li>Must be 14 to 128 characters</li>
                  <li>At least one number</li>
                  <li>At least one lowercase letter</li>
                  <li>At least one uppercase letter</li>
                  <li>At least one symbol (!&#64;#$%^&*(),.?":&#123;&#125;|<>)</li>
                </ul>
              }
            </div>
          </div>
          @if (loginError) {
            <p class="text-error text-center text-sm mt-1">Invalid username or password</p>
          }
        </div>

        <div class="w-full max-w-md mx-auto">
          <button type="submit" class="btn btn-neutral w-full" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
